rootfs/filesystem/etc/repro.car
rootfs/filesystem/usr/*
rootfs/filesystem/*bin
rootfs/filesystem/lib*
rootfs/filesystem/var
rootfs/filesystem/etc/nullinitrd
vmlinuz-6.19.2
*.tar.zst
strap_packages
libcp
initramfs/rootfs.tar*
initramfs/bin
filesystem/boot/initramfs.cpio.gz

redrose_linux.iso
redrose_linux.qcow2
initramfs.cpio.gz

rootfs/filesystem/etc/dbus*
rootfs/filesystem/etc/rpc
rootfs/filesystem/etc/slsh.rc
repro.car
rootfs/filesystem/etc/ld.so.cache
