set default=0
set timeout=5

set gfxmode=1024x768,auto
terminal_output gfxterm

set menu_color_normal=light-gray/black
set menu_color_highlight=white/light-red

menuentry "Redrose Linux" {
    echo "Loading linux from /boot/linuxImage"
    linux /boot/linuxImage loglevel=1 root=/dev/sda3 rw nomodeset
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
