set default=0
set timeout=5

insmod part_gpt
insmod part_msdos
insmod all_video
insmod gfxterm

set menu_color_normal=light-gray/black
set menu_color_highlight=white/light-red

# /dev/sda3 is a placeholder, gets replaced by the installer.
menuentry "Redrose Linux" {
    echo "Loading linux from /boot/vmlinuz"
    linux /boot/vmlinuz quiet loglevel=0 root=/dev/sda3 rw nomodeset
    echo "Loading initrd from /boot/initrd.img"
    initrd /boot/initrd.img
}

menuentry "Reboot" {
    reboot
}

menuentry "Shutdown" {
    halt
}
