set default=0
set timeout=5

set gfxmode=auto
set menu_color_normal=light-gray/black
set menu_color_highlight=white/light-red

menuentry "Install Redrose Linux" --class redrose --class gnu-linux --class os {
    echo "Loading kernel from /boot/vmlinuz-6.19.2"
    linux /boot/vmlinuz-6.19.2 loglevel=1 nomodeset
    echo "Loading initramfs from /boot/initramfs.cpio.gz"
    initrd /boot/initramfs.cpio.gz
}

menuentry "Boot existing OS" --class os {
    exit
}

menuentry "Reboot" --class reboot {
    reboot
}

menuentry "Shutdown" --class shutdown {
    halt
}
