set default=0
set timeout=5

set gfxmode=auto
set menu_color_normal=light-gray/black
set menu_color_highlight=white/light-red

menuentry "Install Redrose Linux" --class redrose --class gnu-linux --class os {
    set color_normal=white/black
    echo "**********************************  *************************"
    echo "* Thanks for installing Redrose! *  * Loading the installer *"
    echo "* Docs:   docs.redroselinux.org/ *  * This may take a while *"
    echo "**********************************  *************************"
    echo ""
    set color_normal=light-gray/black
    echo "Loading kernel from /boot/vmlinuz"
    linux /boot/vmlinuz root=/dev/ram0 rw loglevel=5
    echo "Loading initramfs from /boot/initramfs.cpio.gz"
    initrd /boot/initramfs.cpio.gz
}

menuentry "Boot existing OS" --class os {
    exit
}

menuentry "Reboot" --class reboot {
    reboot
}

menuentry "Shutdown" --class shutdown {
    halt
}
